<main class="page--contents client-list">
  <div class="main--contents">
    <div class="page--header">
      <h1 class="main--contents__title"><span class="title--text">クライアント情報一覧</span></h1>
      <a href="">新規登録</a>
    </div>
    <table>
      <tr>
        <th>クライアント名</th>
        <th>登録者</th>
        <th>登録日</th>
      </tr>
      <tr>
        <td><a href="">株式会社あいうえお</a></td>
        <td>宮里 紗矢香</td>
        <td>20201205</td>
      </tr>
      <tr>
        <td><a href="">株式会社あいうえお</a></td>
        <td>宮里 紗矢香</td>
        <td>20201205</td>
      </tr>
      <tr>
        <td><a href="">株式会社あいうえお</a></td>
        <td>宮里 紗矢香</td>
        <td>20201205</td>
      </tr>
      <tr>
        <td><a href="">株式会社あいうえお</a></td>
        <td>宮里 紗矢香</td>
        <td>20201205</td>
      </tr>
      <tr>
        <td><a href="">株式会社あいうえお</a></td>
        <td>宮里 紗矢香</td>
        <td>20201205</td>
      </tr>
    </table>
    <div>
      <a href=""><img src="/asset/img/form/icon-arrow-left.svg" alt=""></a>
      <a href=""><img src="/asset/img/form/icon-arrow-right.svg" alt=""></a>
    </div>
  </div>

</main>