<main class="page--contents client-info">
  <div class="main--contents">
    <h1 class="main--contents__title"><span class="title--text">クライアント情報</span></h1>
    <form class="form--area" action="">
      <div class="input--area">
        <label class="form--label" for="client_name">クライアント名</label>
        <input class="form--input" type="text" id="" name="client_name" placeholder="入力してください">
      </div>
      <div class="input--area">
        <label class="form--label" for="client_name">担当者</label>
        <input class="form--input" type="text" id="" name="client_name" placeholder="入力してください">
      </div>
      <div class="input--area">
        <label class="form--label" for="client_name">電話番号</label>
        <input class="form--input" type="text" id="" name="client_name" placeholder="入力してください">
      </div>
      <div class="input--area">
        <label class="form--label" for="client_name">メールアドレス</label>
        <input class="form--input" type="text" id="" name="client_name" placeholder="入力してください">
      </div>
      <div class="input--area">
        <label class="form--label" for="client_name">目的</label>
        <select class="select--area" name="" id="">
          <option value="">ECサイト</option>
          <option value="">ランディングページ・LP</option>
          <option value="">ECサイト・ネットショップ</option>
          <option value="">オウンドメディア</option>
          <option value="">採用サイト</option>
          <option value="">サイト改修</option>
        </select>
      </div>
      <div class="input--area">
        <label class="form--label" for="client_name">予算</label>
        <select class="select--area" name="" id="">
          <option value="">〜10万</option>
          <option value="">10万〜50万</option>
          <option value="">50万〜150万</option>
          <option value="">150万以上</option>
        </select>
      </div>
      <div class="input--area">
        <label class="form--label" for="client_name">運用</label>
        <ul class="radio-list">
          <li class="radio--content">
            <input id="radio-1" name="radio" type="radio">
            <label for="radio-1" class="radio-label">行う</label>
          </li>
          <li class="radio--content">
            <input id="radio-2" name="radio" type="radio">
            <label for="radio-2" class="radio-label">行わない</label>
          </li>
          <li class="radio--content">
            <input id="radio-3" name="radio" type="radio">
            <label for="radio-3" class="radio-label">未定</label>
          </li>
        </ul>
      </div>
      <div class="input--area">
        <label class="form--label" for="client_name">予算</label>
        <textarea class="form--input" name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div class="btn--wrap left">
        <input class="btn-content btn-square bg-yellow" type="submit" value="登録する">
      </div>
    </form>
  </div>
</main>