<main class="page--contents client-list">
  <div class="main--contents">
    <div class="page--header">
      <h1 class="main--contents__title"><span class="title--text">クライアント情報一覧</span></h1>
      <a class="btn-add" href="/client-info">新規登録</a>
    </div>
    <table class="content--area table--area">
      <tr class="table--head">
        <th class="table__client-name">クライアント名</th>
        <th class="table__client-registrant">登録者</th>
        <th class="table__client-date">登録日</th>
      </tr>
      <tr class="table--content">
        <td class="table__client-name"><a class="table__client-name--link" href="">株式会社あいうえお</a></td>
        <td class="table__client-registrant">宮里 紗矢香</td>
        <td class="table__client-date">20201205</td>
      </tr>
      <tr class="table--content">
        <td class="table__client-name"><a class="table__client-name--link" href="">株式会社あいうえお</a></td>
        <td class="table__client-registrant">宮里 紗矢香</td>
        <td class="table__client-date">20201205</td>
      </tr>
      <tr class="table--content">
        <td class="table__client-name"><a class="table__client-name--link" href="">株式会社あいうえお</a></td>
        <td class="table__client-registrant">宮里 紗矢香</td>
        <td class="table__client-date">20201205</td>
      </tr>
      <tr class="table--content">
        <td class="table__client-name"><a class="table__client-name--link" href="">株式会社あいうえお</a></td>
        <td class="table__client-registrant">宮里 紗矢香</td>
        <td class="table__client-date">20201205</td>
      </tr>
      <tr class="table--content">
        <td class="table__client-name"><a class="table__client-name--link" href="">株式会社あいうえお</a></td>
        <td class="table__client-registrant">宮里 紗矢香</td>
        <td class="table__client-date">20201205</td>
      </tr>
    </table>
    <div class="btn--list--wrap">
      <a class="btn--list__return" href=""><img src="/asset/img/form/icon-arrow-left.svg" alt=""></a>
      <a class="btn--list__next" href=""><img src="/asset/img/form/icon-arrow-right.svg" alt=""></a>
    </div>
  </div>

</main>