<main class="page--contents client-page">
  <div  class="main--contents">
    <h1 class="main--contents__title"><span class="title--text">デザインイメージ登録</span></h1>
    <div class="client-page__details">
      <dl class="client-page__list">
        <dt class="client-page__title">クライアント名</dt>
        <dd class="client-page__content">株式会社あいうえお</dd>
      </dl>
      <dl class="client-page__list">
        <dt class="client-page__title">担当者</dt>
        <dd class="client-page__content">山田 太郎</dd>
      </dl>
      <dl class="client-page__list">
        <dt class="client-page__title">電話番号</dt>
        <dd class="client-page__content">0123-456-7891</dd>
      </dl>
      <dl class="client-page__list">
        <dt class="client-page__title">メールアドレス</dt>
        <dd class="client-page__content">Yamada-t@abc.inc.com</dd>
      </dl>
      <dl class="client-page__list">
        <dt class="client-page__title">目的</dt>
        <dd class="client-page__content">採用サイト</dd>
      </dl>
      <dl class="client-page__list">
        <dt class="client-page__title">予算</dt>
        <dd class="client-page__content">10〜50万</dd>
      </dl>
      <dl class="client-page__list">
        <dt class="client-page__title">運用</dt>
        <dd class="client-page__content">行う</dd>
      </dl>
      <dl class="client-page__list">
        <dt class="client-page__title">その他(メモ)</dt>
        <dd class="client-page__content">予算30万円、前年度のデザインに合わせなくてもOK採用専用のInstagramがあるのでなにかしら連動させたい。</dd>
      </dl>
      <dl class="client-page__list">
        <dt class="client-page__title">デザインイメージ</dt>
        <dd class="client-page__content">
          <ul>
            <li><a href=""><img src="https://placehold.jp/255x142.png" alt="" srcset=""></a></li>
            <li><a href=""><img src="https://placehold.jp/255x142.png" alt="" srcset=""></a></li>
            <li><a href=""><img src="https://placehold.jp/255x142.png" alt="" srcset=""></a></li>
            <li><a href=""><img src="https://placehold.jp/255x142.png" alt="" srcset=""></a></li>
            <li><a href=""><img src="https://placehold.jp/255x142.png" alt="" srcset=""></a></li>
            <li><a href=""><img src="https://placehold.jp/255x142.png" alt="" srcset=""></a></li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</main>