<main class="page--contents design">
  <div class="main--contents">
    <h1 class="main--contents__title"><span class="title--text">デザインイメージ登録</span></h1>
    <form class="form--area" action="">
      <div class="input--area">
        <label class="form--label" for="client_name">クライアント名</label>
        <input class="form--input" type="text" id="" name="client_name" placeholder="入力してください">
      </div>
      <div class="input--area">
        <label class="form--label" for="client_name">業種</label>
        <ul class="radio-list">
          <li class="radio--content">
            <input id="radio-1" name="radio" type="radio">
            <label for="radio-1" class="radio-label">インテリア・雑貨</label>
          </li>
          <li class="radio--content">
            <input id="radio-2" name="radio" type="radio">
            <label for="radio-2" class="radio-label">ウエディング</label>
          </li>
          <li class="radio--content">
            <input id="radio-3" name="radio" type="radio">
            <label for="radio-3" class="radio-label">キッズ・子育て</label>
          </li>
          <li class="radio--content">
            <input id="radio-4" name="radio" type="radio">
            <label for="radio-4" class="radio-label">IT</label>
          </li>
          <li class="radio--content">
            <input id="radio-5" name="radio" type="radio">
            <label for="radio-5" class="radio-label">ファッション(男性向け)</label>
          </li>
          <li class="radio--content">
            <input id="radio-6" name="radio" type="radio">
            <label for="radio-6" class="radio-label">ファッション(女性向け)</label>
          </li>
          <li class="radio--content">
            <input id="radio-7" name="radio" type="radio">
            <label for="radio-7" class="radio-label">制作会社</label>
          </li>
          <li class="radio--content">
            <input id="radio-8" name="radio" type="radio">
            <label for="radio-8" class="radio-label">医療・病院</label>
          </li>
          <li class="radio--content">
            <input id="radio-9" name="radio" type="radio">
            <label for="radio-9" class="radio-label">地域・海外</label>
          </li>
          <li class="radio--content">
            <input id="radio-10" name="radio" type="radio">
            <label for="radio-10" class="radio-label">学校・教育</label>
          </li>
          <li class="radio--content">
            <input id="radio-11" name="radio" type="radio">
            <label for="radio-11" class="radio-label">建築・不動産</label>
          </li>
          <li class="radio--content">
            <input id="radio-12" name="radio" type="radio">
            <label for="radio-12" class="radio-label">ホテル・旅行</label>
          </li>
          <li class="radio--content">
            <input id="radio-13" name="radio" type="radio">
            <label for="radio-13" class="radio-label">農業</label>
          </li>
          <li class="radio--content">
            <input id="radio-14" name="radio" type="radio">
            <label for="radio-14" class="radio-label">美容・健康</label>
          </li>
          <li class="radio--content">
            <input id="radio-15" name="radio" type="radio">
            <label for="radio-15" class="radio-label">金融・保険</label>
          </li>
          <li class="radio--content">
            <input id="radio-16" name="radio" type="radio">
            <label for="radio-16" class="radio-label">食品</label>
          </li>
        </ul>
      </div>
      <div class="input--area">
        <label class="form--label" for="client_name">タイプ</label>
        <select class="select--area" name="" id="">
          <option value="">ECサイト</option>
          <option value="">WEBマガジン</option>
          <option value="">コーポレートサイト</option>
          <option value="">ブランディングサイト</option>
          <option value="">ポータルサイト</option>
          <option value="">採用サイト</option>
        </select>
      </div>
      <div class="input--area">
        <label class="form--label" for="">デザインの種類</label>
        <ul class="checkbox-list">
          <li class="checkbox--content">
            <input type="checkbox" name="" id="checkbox-1" id="radio-15" name="checkbox">
            <label for="checkbox-1" class="checkbox-label">フラットデザイン</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">動きのあるデザイン</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">かわいい</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">イラスト使用</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">オーソドックス</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">シズル感</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">シングルページ</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">スタイリッシュ</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">タイポグラフィ</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">テクスチャー</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">ナチュラル</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">ベタ塗り</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">ポップ</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">レトロ・アメリカン</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">和風</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">他言語対応</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">写真メイン</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">手書き風</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">斜めライン</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">パララックス</label>
          </li>
          <li>
            <input type="checkbox" name="" id="">
            <label for="">雑誌風</label>
          </li>
        </ul>
      </div>
    </form>
    <div class="input--area">
      <span class="form--label">デザイン候補</span>
      <ul>
        <li>
          <a href=""><img src="https://placehold.jp/275x154.png" alt="" srcset=""></a>
        </li>
        <li>
          <a href=""><img src="https://placehold.jp/275x154.png" alt="" srcset=""></a>
        </li>
        <li>
          <a href=""><img src="https://placehold.jp/275x154.png" alt="" srcset=""></a>
        </li>
        <li>
          <a href=""><img src="https://placehold.jp/275x154.png" alt="" srcset=""></a>
        </li>
        <li>
          <a href=""><img src="https://placehold.jp/275x154.png" alt="" srcset=""></a>
        </li>
        <li>
          <a href=""><img src="https://placehold.jp/275x154.png" alt="" srcset=""></a>
        </li>
      </ul>
    </div>
  </div>
</main>