<body class="login">
  <div class="contents--wrap">
    <main class="login-contents">
      <h1 class="content__title"><span class="content__title__text">新規ユーザー登録</span></h1>
      <form class="form--login" action="/initial-registration" method="post">
        <div class="input--area">
          <label class="form--label" for="name">ユーザー名</label>
          <input class="form--input" type="text" id="" name="name">
        </div>
        <div class="input--area">
          <label class="form--label" for="email">メールアドレス</label>
          <input class="form--input" type="email" id="" name="email">
        </div>
        <div class="input--area">
          <label class="form--label" for="password">パスワード</label>
          <input class="form--input" type="password" id="pass" name="password" minlength="4" required>
        </div>
        <div class="btn--wrap">
          <input class="btn-content bg-yellow" type="submit" value="登録する">
        </div>
      </form>
    </main>
  </div>
</body>