<body class="login">
  <div class="contents--wrap">
    <main class="login-contents">
      <h1 class="content__title"><span class="content__title__text en">Sign in</span></h1>
      <form class="form--login" action="/" method="post">
        <div class="input--area">
          <label class="form--label" for="email">メールアドレス</label>
          <input class="form--input" type="email" id="" name="email">
        </div>
        <div class="input--area">
          <label class="form--label" for="pass">パスワード</label>
          <input class="form--input" type="password" id="pass" name="password" minlength="4" required>
        </div>
        <span class="link--new-account">
          <a class="link-text" href="/initial-registration">新規登録はこちら</a>
        </span>
        <div class="btn--wrap">
          <input class="btn-content bg-yellow" type="submit" value="ログイン">
        </div>
      </form>
    </main>
  </div>
</body>