<main class="page--contents profile">
  <div class="main--contents">
    <h1 class="main--contents__title"><span class="title--text">プロフィール変更</span></h1>
    <a class="main--contents__image" href="">
      <img class="main--contents__image--item" src="./asset/img/profile/add-img-personal.jpg" alt="">
      <span class="main--contents__image--text">画像変更</span>
    </a>
    <form class="form--login" action="">
      <div class="input--area">
        <label class="form--label" for="email">ユーザー名</label>
        <input class="form--input" type="email" id="" name="email">
      </div>
      <div class="input--area">
        <label class="form--label" for="email">メールアドレス</label>
        <input class="form--input" type="email" id="" name="email">
      </div>
      <div class="input--area">
        <label class="form--label" for="pass">パスワード</label>
        <input class="form--input" type="password" id="pass" name="password" minlength="8" required>
      </div>
      <div class="btn--wrap">
        <input class="btn-content bg-yellow" type="submit" value="登録する">
      </div>
    </form>
  </div>
</main>