.client-page {
  .client-page__details {
    margin-top: 60px;
  }
  .client-page__list {
    display: flex;
  }
  .client-page__title {
    width: 230px;
    font-size: 18px;
    font-weight: bold;
  }
}