/*---------------------------------
function
---------------------------------*/
@function vw($size, $viewport: 480) {
  $rate: 100 / $viewport;
  @return ($rate * $size) * 1vw;
}

@function p-vw($size, $viewport: 1920) {
  $rate: 100 / $viewport;
  @return ($rate * $size) * 1vw;
}


/*---------------------------------
contents
---------------------------------*/
// フォント
.en {
  font-family: 'Lato', sans-serif;
}
// テキスト揃え
.text-left {
  text-align: left;
}
.text-center {
  text-align: left;
}

// 配色
.bg-yellow {
  background-color: #ffd806;
}

// 見出し
.main--contents {
  padding: p-vw(100) 0 0 p-vw(100);
  width: 840px;
  &__title {
    font-size: 40px;
    .title--text {
      background:linear-gradient(transparent 69%, #c3e7e7 60%);
      font-weight: normal;
    }
  }
}
.main--contents__image {
  display: inline-block;
  text-align: center;
  position: relative;
  &--item {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100em;
  }
  &--text {
    display: block;
  }
  &:hover {
    opacity: 0.8;
  }
  .filesend {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

// リンク
a {
  text-decoration: none;
}
.link-text {
  color: #272343;
  padding-bottom: 3px;
  border-bottom: 1px solid #272343;
  &:hover {
    opacity: 0.5;
  }
}

//ボタン
.btn--wrap {
  text-align: center;
  margin-top: p-vw(60);
  .btn-content {
    padding: p-vw(20) p-vw(140);
    border-radius: 100em;
    font-weight: bold;
    &:hover {
      opacity: 0.8;
    }
  }
  .btn-square {
    border-radius: 5px;
    margin-left: 230px;
  }
  &.left {
    text-align: initial;
  }
}

// リスト
ul {
  list-style: none;
}

.radio--content {
  margin: 0.5rem 0;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      display: flex;
      align-items: center;
      &:before {
        content: '';
        background: #fff;
        border-radius: 100%;
        border: 1px solid darken(#ccc, 25%);
        display: inline-block;
        min-width: p-vw(30);
        min-height: p-vw(30);
        position: relative;
        top: 0.03em;
        margin-right: 5px; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: #ffd806;
          box-shadow: inset 0 0 0 4px #fff;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: #ffd806;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px #fff;
          border-color: darken(#ccc, 25%);
          background: darken(#ccc, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

.checkbox--content {
  margin: 0.5rem 0;
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    + .checkbox-label {
      display: flex;
      align-items: center;
      position: relative;
      &:before {
        content: '';
        background: #fff;
        border-radius: 4px;
        border: 1px solid darken(#ccc, 25%);
        display: inline-block;
        min-width: p-vw(30);
        min-height: p-vw(30);
        position: relative;
        top: 0.03em;
        margin-right: 5px; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .checkbox-label {
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: -0.27vw;
          left: 0.68vw;
          width: 0.68vw;
          height: 1.35vw;
          transform: rotate(40deg);
          border-bottom: 4px solid #ffd806;
          border-right: 4px solid #ffd806;
        }
      }
    }
    &:focus {
      + .checkbox-label {
        &:before {
          outline: none;
          border-color: #ffd806;
        }
      }
    }
    &:disabled {
      + .checkbox-label {
        &:before {
          box-shadow: inset 0 0 0 4px #fff;
          border-color: darken(#ccc, 25%);
          background: darken(#ccc, 25%);
        }
      }
    }
    + .checkbox-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}


// header
.page {
  color: #272343;
  display: flex;
  .header--area {
    background-color: #e4f6f5;
    width: 327px;
    font-size: 18px;
    height: 100vh;
    padding: p-vw(100) p-vw(40) 0;
    position: fixed;
  }
  .header--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header--personal-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    word-wrap: break-word;
    line-height: 1.2;
    &__mail {
      margin-top: 10px;
    }
  }
  .header--personal-iamge {
    margin-left: 24px;
    width: 88px;
    height: 88px;
    object-fit: cover;
    border-radius: 100em;
  }
  .header--link {
    margin-top: 60px;
    list-style: none;
    &__item {
      &:not(:first-of-type) {
        margin-top: 30px;
      }
    }
  }
  .btn--logout {
    position: fixed;
    bottom: 140px;
    width: 280px;
    padding: 17px;
    background-color: #707070;
    border-radius: 100em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    &:hover {
      opacity: 0.8;
    }
  }
}

// ログイン以外のページ
.page--contents {
  margin-left: 328px;
}

// フォームの設定
.form--area {
  margin-top: 60px;
  padding-bottom: 100px;
}
.input--area  {
  color: #272343;
  .form--label {
    display: inline-block;
  }
  .form--input,
  .select--area {
    margin-top: p-vw(15);
    border: 1px solid #ccc;
    border-radius: p-vw(5);
    padding: p-vw(15);
  }
}
.input--area {
  display: flex;
  &:not(:first-of-type) {
    margin-top: 48px;
  }
  .form--label {
    width: 230px;
  }
  .form--input,
  .radio-list {
    margin-top: 0;
    width: 510px;
  }
  .radio-list {
    display: flex;
    flex-wrap: wrap;
    .radio--content {
      margin-right: 20px;
    }
  }
  .select--area {
    width: 330px;
    color: #272343;
    margin-top: 0;
    background: url(/asset/img/form/icon-arrow.svg) right 50% no-repeat;
    background-size: contain;
  }
}
.login {
  .input--area {
    display: inherit;
  }
}

.content--area {
  margin-top: 60px;
}