.design {
  .form--area {
    margin-top: 60px;
  }
  .input--area {
    display: flex;
    &:not(:first-of-type) {
      margin-top: 48px;
    }
    .form--label {
      width: 230px;
    }
    .form--input,
    .radio-list {
      margin-top: 0;
      width: 570px;
    }
    .radio-list {
      display: flex;
      flex-wrap: wrap;
      .radio--content {
        margin-right: 20px;
      }
    }
    .select--area {
      width: 330px;
    }
  }
}