/*---------------------------------
function
---------------------------------*/
/*---------------------------------
contents
---------------------------------*/
.en {
  font-family: "Lato", sans-serif;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: left;
}

.bg-yellow {
  background-color: #ffd806;
}

.main--contents {
  padding: 5.2083333333vw 0 0 5.2083333333vw;
  width: 840px;
}
.main--contents__title {
  font-size: 40px;
}
.main--contents__title .title--text {
  background: linear-gradient(transparent 69%, #c3e7e7 60%);
  font-weight: normal;
}

.main--contents__image {
  display: inline-block;
  text-align: center;
  position: relative;
}
.main--contents__image--item {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100em;
}
.main--contents__image--text {
  display: block;
}
.main--contents__image:hover {
  opacity: 0.8;
}
.main--contents__image .filesend {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
}

.link-text {
  color: #272343;
  padding-bottom: 3px;
  border-bottom: 1px solid #272343;
}
.link-text:hover {
  opacity: 0.5;
}

.btn--wrap {
  text-align: center;
  margin-top: 3.125vw;
}
.btn--wrap .btn-content {
  padding: 1.0416666667vw 7.2916666667vw;
  border-radius: 100em;
  font-weight: bold;
}
.btn--wrap .btn-content:hover {
  opacity: 0.8;
}
.btn--wrap .btn-square {
  border-radius: 5px;
  margin-left: 230px;
}
.btn--wrap.left {
  text-align: initial;
}

ul {
  list-style: none;
}

.radio--content {
  margin: 0.5rem 0;
}
.radio--content input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio--content input[type=radio] + .radio-label {
  display: flex;
  align-items: center;
}
.radio--content input[type=radio] + .radio-label:before {
  content: "";
  background: #fff;
  border-radius: 100%;
  border: 1px solid #8c8c8c;
  display: inline-block;
  min-width: 1.5625vw;
  min-height: 1.5625vw;
  position: relative;
  top: 0.03em;
  margin-right: 5px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio--content input[type=radio]:checked + .radio-label:before {
  background-color: #ffd806;
  box-shadow: inset 0 0 0 4px #fff;
}
.radio--content input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #ffd806;
}
.radio--content input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #fff;
  border-color: #8c8c8c;
  background: #8c8c8c;
}
.radio--content input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}

.checkbox--content {
  margin: 0.5rem 0;
}
.checkbox--content input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.checkbox--content input[type=checkbox] + .checkbox-label {
  display: flex;
  align-items: center;
  position: relative;
}
.checkbox--content input[type=checkbox] + .checkbox-label:before {
  content: "";
  background: #fff;
  border-radius: 4px;
  border: 1px solid #8c8c8c;
  display: inline-block;
  min-width: 1.5625vw;
  min-height: 1.5625vw;
  position: relative;
  top: 0.03em;
  margin-right: 5px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.checkbox--content input[type=checkbox]:checked + .checkbox-label::after {
  content: "";
  display: block;
  position: absolute;
  top: -0.27vw;
  left: 0.68vw;
  width: 0.68vw;
  height: 1.35vw;
  transform: rotate(40deg);
  border-bottom: 4px solid #ffd806;
  border-right: 4px solid #ffd806;
}
.checkbox--content input[type=checkbox]:focus + .checkbox-label:before {
  outline: none;
  border-color: #ffd806;
}
.checkbox--content input[type=checkbox]:disabled + .checkbox-label:before {
  box-shadow: inset 0 0 0 4px #fff;
  border-color: #8c8c8c;
  background: #8c8c8c;
}
.checkbox--content input[type=checkbox] + .checkbox-label:empty:before {
  margin-right: 0;
}

.page {
  color: #272343;
  display: flex;
}
.page .header--area {
  background-color: #e4f6f5;
  width: 327px;
  font-size: 18px;
  height: 100vh;
  padding: 5.2083333333vw 2.0833333333vw 0;
  position: fixed;
}
.page .header--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .header--personal-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  word-wrap: break-word;
  line-height: 1.2;
}
.page .header--personal-info__mail {
  margin-top: 10px;
}
.page .header--personal-iamge {
  margin-left: 24px;
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 100em;
}
.page .header--link {
  margin-top: 60px;
  list-style: none;
}
.page .header--link__item:not(:first-of-type) {
  margin-top: 30px;
}
.page .btn--logout {
  position: fixed;
  bottom: 140px;
  width: 280px;
  padding: 17px;
  background-color: #707070;
  border-radius: 100em;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.page .btn--logout:hover {
  opacity: 0.8;
}

.page--contents {
  margin-left: 328px;
}

.form--area {
  margin-top: 60px;
  padding-bottom: 100px;
}

.input--area {
  color: #272343;
}
.input--area .form--label {
  display: inline-block;
}
.input--area .form--input,
.input--area .select--area {
  margin-top: 0.78125vw;
  border: 1px solid #ccc;
  border-radius: 0.2604166667vw;
  padding: 0.78125vw;
}

.input--area {
  display: flex;
}
.input--area:not(:first-of-type) {
  margin-top: 48px;
}
.input--area .form--label {
  width: 230px;
}
.input--area .form--input,
.input--area .radio-list {
  margin-top: 0;
  width: 510px;
}
.input--area .radio-list {
  display: flex;
  flex-wrap: wrap;
}
.input--area .radio-list .radio--content {
  margin-right: 20px;
}
.input--area .select--area {
  width: 330px;
  color: #272343;
  margin-top: 0;
  background: url(/asset/img/form/icon-arrow.svg) right 50% no-repeat;
  background-size: contain;
}

.login .input--area {
  display: inherit;
}

.content--area {
  margin-top: 60px;
}

.login {
  background-color: #e9e9e9;
  border-top: 60px solid #e4f6f5;
  font-family: "Noto Sans JP", sans-serif;
  color: #272343;
  line-height: 1;
}
.login .contents--wrap {
  background-color: #fffffe;
  box-shadow: 0 0 8px #ccc;
  max-width: 35.8333333333vw;
  margin: 10em auto;
  padding: 1.8229166667vw;
}
.login .content__title {
  text-align: center;
}
.login .content__title__text {
  font-size: 3.125vw;
  font-weight: 500;
  background: linear-gradient(transparent 69%, #c3e7e7 60%);
}
.login .form--login {
  margin-top: 3.6458333333vw;
}
.login .input--area:not(:first-of-type) {
  margin-top: 1.5625vw;
}
.login .input--area .form--label {
  display: block;
}
.login .input--area .form--input {
  display: block;
  margin-top: 0.78125vw;
  border: 1px solid #ccc;
  border-radius: 0.2604166667vw;
  width: 100%;
  padding: 0.78125vw;
}
.login .link--new-account {
  display: block;
  margin-top: 3.125vw;
  text-align: center;
}

.profile .form--login {
  margin-top: 2.6041666667vw;
  text-align: center;
}
.profile .form--login .input--area:not(:first-of-type) {
  margin-top: 2.6041666667vw;
}
.profile .form--login .input--area .form--img {
  margin: 0 auto;
}
.profile .form--login .input--area .form--label {
  width: 150px;
}
.profile .form--login .input--area .form--input {
  margin-top: 0;
  width: 570px;
}

.client-list .page--header {
  display: flex;
  align-items: center;
}
.client-list .btn-add {
  color: #272343;
  font-size: 18px;
  margin-left: 20px;
}
.client-list .btn-add::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: bottom;
  margin-right: 5px;
  background-image: url(/asset/img/form/icon-btn-add.svg);
}
.client-list .btn-add:hover {
  opacity: 0.5;
}
.client-list .table--area {
  border-collapse: collapse;
  border: 1px solid #707070;
}
.client-list .table--area .table--head {
  text-align: left;
  height: 60px;
  border-bottom: 1px solid #707070;
}
.client-list .table--area .table--content {
  height: 60px;
}
.client-list .table--area .table--content:nth-of-type(even) {
  background-color: #f5f5f5;
}
.client-list .table--area .table__client-name {
  width: 428px;
  padding-left: 30px;
}
.client-list .table--area .table__client-name--link {
  color: #272343;
  padding-bottom: 3px;
}
.client-list .table--area .table__client-name--link:hover {
  opacity: 0.5;
}
.client-list .table--area .table__client-registrant {
  width: 232px;
}
.client-list .table--area .table__client-date {
  width: 130px;
}
.client-list .btn--list--wrap {
  margin: 50px auto 0;
  width: 126px;
  display: flex;
  justify-content: space-between;
}
.client-list .btn--list--wrap .btn--list__return:hover,
.client-list .btn--list--wrap .btn--list__next:hover {
  opacity: 0.5;
}