/*---------------------------------
function
---------------------------------*/
/*---------------------------------
contents
---------------------------------*/
.en {
  font-family: "Lato", sans-serif;
}

.bg-yellow {
  background-color: #ffd806;
}

.main--contents {
  padding: 5.2083333333vw 0 0 5.2083333333vw;
  width: 840px;
}
.main--contents__title {
  font-size: 40px;
}
.main--contents__title .title--text {
  background: linear-gradient(transparent 69%, #c3e7e7 60%);
  font-weight: normal;
}

.main--contents__image {
  display: block;
  margin-top: 50px;
  text-align: center;
}
.main--contents__image--item {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100em;
}
.main--contents__image--text {
  display: block;
}
.main--contents__image:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

.link-text {
  color: #272343;
  padding-bottom: 3px;
  border-bottom: 1px solid #272343;
}
.link-text:hover {
  opacity: 0.5;
}

.btn--wrap {
  text-align: center;
  margin-top: 1.5625vw;
}
.btn--wrap .btn-content {
  padding: 1.0416666667vw 7.2916666667vw;
  border-radius: 100em;
  font-weight: bold;
}
.btn--wrap .btn-content:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
}

.input--area {
  color: #272343;
}
.input--area .form--label {
  display: inline-block;
}
.input--area .form--input,
.input--area .select--area {
  margin-top: 0.78125vw;
  border: 1px solid #ccc;
  border-radius: 0.2604166667vw;
  padding: 0.78125vw;
}
.input--area .select--area {
  color: #272343;
  background: url(/asset/img/form/icon-arrow.svg) right 50% no-repeat;
  background-size: contain;
}

.radio--content {
  margin: 0.5rem 0;
}
.radio--content input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio--content input[type=radio] + .radio-label {
  display: flex;
  align-items: center;
}
.radio--content input[type=radio] + .radio-label:before {
  content: "";
  background: #fff;
  border-radius: 100%;
  border: 1px solid #8c8c8c;
  display: inline-block;
  min-width: 1.5625vw;
  min-height: 1.5625vw;
  position: relative;
  top: 0.03em;
  margin-right: 5px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio--content input[type=radio]:checked + .radio-label:before {
  background-color: #ffd806;
  box-shadow: inset 0 0 0 4px #fff;
}
.radio--content input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #ffd806;
}
.radio--content input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #fff;
  border-color: #8c8c8c;
  background: #8c8c8c;
}
.radio--content input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}

.page {
  color: #272343;
  display: flex;
}
.page .header--area {
  background-color: #e4f6f5;
  font-size: 18px;
  height: 100vh;
  padding: 5.2083333333vw 2.0833333333vw 0;
  position: fixed;
}
.page .header--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page .header--personal-info {
  display: flex;
  flex-direction: column;
}
.page .header--personal-iamge {
  margin-left: 24px;
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 100em;
}
.page .header--link {
  margin-top: 60px;
  list-style: none;
}
.page .header--link__item:not(:first-of-type) {
  margin-top: 30px;
}
.page .btn--logout {
  position: fixed;
  bottom: 140px;
  width: 280px;
  padding: 17px;
  background-color: #707070;
  border-radius: 100em;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.page .btn--logout:hover {
  opacity: 0.8;
}

.page--contents {
  margin-left: 368px;
}

.login {
  background-color: #e9e9e9;
  border-top: 60px solid #e4f6f5;
  font-family: "Noto Sans JP", sans-serif;
  color: #272343;
  line-height: 1;
}
.login .contents--wrap {
  background-color: #fffffe;
  box-shadow: 0 0 8px #ccc;
  max-width: 35.8333333333vw;
  margin: 10em auto;
  padding: 1.8229166667vw;
}
.login .content__title {
  text-align: center;
}
.login .content__title__text {
  font-size: 3.125vw;
  font-weight: 500;
  background: linear-gradient(transparent 69%, #c3e7e7 60%);
}
.login .form--login {
  margin-top: 3.6458333333vw;
}
.login .input--area:not(:first-of-type) {
  margin-top: 1.5625vw;
}
.login .input--area .form--label {
  display: block;
}
.login .input--area .form--input {
  display: block;
  margin-top: 0.78125vw;
  border: 1px solid #ccc;
  border-radius: 0.2604166667vw;
  width: 100%;
  padding: 0.78125vw;
}
.login .link--new-account {
  display: block;
  margin-top: 3.125vw;
  text-align: center;
}

.profile .form--login {
  margin-top: 2.6041666667vw;
}
.profile .form--login .input--area .form--label {
  width: 150px;
}
.profile .form--login .input--area .form--input {
  width: 570px;
}

.design .form--area {
  margin-top: 60px;
}
.design .input--area {
  display: flex;
}
.design .input--area:not(:first-of-type) {
  margin-top: 48px;
}
.design .input--area .form--label {
  width: 230px;
}
.design .input--area .form--input,
.design .input--area .radio-list {
  margin-top: 0;
  width: 570px;
}
.design .input--area .radio-list {
  display: flex;
  flex-wrap: wrap;
}
.design .input--area .radio-list .radio--content {
  margin-right: 20px;
}
.design .input--area .select--area {
  width: 330px;
}